<ng-container>
    <button class="btn btn-outline-primary me-3" (click)="get500Error()">get500Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get400Error()">get400Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get401Error()">get401Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get404Error()">get404Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get400ValidationError()">get400ValidationError</button>
</ng-container>